@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Quicksand:wght@700&display=swap');

body {
    font-family: 'Khula', sans-serif;
    min-height: 100vh;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: #E5E5E5;
}
.container {
    width: 946px;
    margin: 0 auto;
}
/*navigation*/
.navigation__list {
    width: 946px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    border-bottom: 2px solid black;
}
.navigation__link {
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    font-weight: 600;
}
.navigation__link:hover, .navigation__link_active {
    color: #000;
}
.navigation__item{
    list-style-type: none;
}
/*Header*/
.header__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 188px;
}
.header__name {
    font-size: 48px;
    font-weight: 700;
}
.header__bio {
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}
.header__lang {
    font-size: 18px;
    font-weight: bold;
    transform: rotate(-90deg);
    padding-top: 65px;
}
.header__lang__item {
    text-decoration: none;
    color: #828282;
}
.header__lang_active, .header__lang > a:hover {
    color: #000;
}
.header__image {
    margin-bottom: 104px;
}
/*Main*/
.main {
    flex: 1 1 auto;
}


@media (max-width: 767px){
    .navigation{
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: -100%;
        transition: 0.3s;
    }
    .navigation__list {
        display: block;
        border-bottom: none;
        padding-top: 100px;
    }
    .burger:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(180, 179, 179);
    }
    .burger {
        position: absolute;
        display: block;
        left: 20px;
        top: 25px;
        width: 50px;
        height: 30px;
        position: relative;
        z-index: 5;
    }
    .navigation__list li {
        padding-left: 50px;
        margin-bottom: 50px;
    }
    .navigation__list li a {
        font-size: 30px;
    }
    .burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
    }
    .burger:before, .burger:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: black;
    }
    .burger:before{
        top: 15px;
    }
    .burger:after{
        bottom: 0;
    }


    .container {
        width: 100%;
    }
    .navigation__list {
        width: 100%;
    }
    .navigation{ 
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .header img {
        width: 100%;
    }
    .navigation.active{
        position: absolute;
        top: 0;
        transition: 0.3s;
    }
    .burger.active:before, .burger.active:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: black;
    }
    .burger.active:before{
        transform: rotate(45deg);
        top: 10px;
        transition: 0.3s;
    }
    .burger.active:after{
        transform: rotate(-45deg);
        top: 10px;
        transition: 0.3s;
    }
    .burger.active span {
        display: none;
    }
    .header {
        padding-top: 90px;
    }
}