@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Quicksand:wght@700&display=swap');
body {
    font-family: 'Khula', sans-serif;
    min-height: 100vh;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: #E5E5E5;
}

.container {
    width: 946px;
    margin: 0 auto;
}


/*navigation*/

.navigation__list {
    width: 946px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    border-bottom: 2px solid #000;
}

.navigation__link {
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    font-weight: 600;
}

.navigation__link:hover,
.navigation__link_active {
    color: #000;
}

.navigation__item {
    list-style-type: none;
}


/*Header*/

.header__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 188px;
}

.header__name {
    font-size: 48px;
    font-weight: 700;
}

.header__bio {
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}

.header__lang {
    font-size: 18px;
    font-weight: bold;
    transform: rotate(-90deg);
    padding-top: 65px;
}

.header__lang__item {
    text-decoration: none;
    color: #828282;
}

.header__lang_active,
.header__lang>a:hover {
    color: #000;
}

.header__image {
    margin-bottom: 104px;
}


/*Main*/

.main_white-bg {
    width: 100%;
    background-color: #fff;
}

.main__container {
    flex: 1 1 auto;
    width: 100%;
}

.main__container,
.main__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__about-header {
    text-align: center;
}

.main__about-header,
.skills__head {
    margin: 60px 0;
    font-size: 40px;
    font-weight: bold;
}

.main__about p,
.skills__description {
    text-align: center;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: 600;
}


/*main skills*/

.skills__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

.skills__item {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-program {
    width: 89px;
    height: 89px;
    margin-bottom: 25px;
}

.skills-program-name {
    text-align: center;
    color: #828282;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}

.skills__rating_3:before {
    width: 130px;
    display: block;
    font-size: 30px;
    letter-spacing: 3px;
    content: '★★★';
}

.skills__rating_4:before {
    width: 130px;
    display: block;
    font-size: 30px;
    letter-spacing: 3px;
    content: '★★★★';
}

.skills__rating_5:before {
    width: 130px;
    display: block;
    font-size: 30px;
    letter-spacing: 3px;
    content: '★★★★★';
}


/*main portfolio*/

.main_ligth-bg {
    width: 100%;
    background-color: #F6F6F6;
}

.portfolio {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__head {
    color: #000;
    font-size: 34px;
    margin-bottom: 50px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

.portfolio__link {
    color: #000;
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.portfolio__image {
    margin-bottom: 45px;
}


/*footer*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 115px;
}

.footer__contacts {
    font-size: 34px;
    color: #000;
    margin-bottom: 20px;
}

.footer__message {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer__send-message {
    color: #fff;
    text-decoration: none;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    min-width: 181px;
    line-height: 42px;
    margin-bottom: 90px;
}

.footer__social-media {}

@media (max-width: 767px) {
    body {
        font-size: 30px;
    }
    .header {
        display: block;
    }
    .header__bio {
        font-size: 30px;
    }
    .header__lang {
        padding-left: 40px;
    }
    .header__image {
        margin-bottom: 30px;
    }
    .navigation {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: -100%;
        transition: 0.3s;
    }
    .navigation__list {
        display: block;
        border-bottom: none;
        padding-top: 100px;
    }
    .burger:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(180, 179, 179);
    }
    .burger {
        position: absolute;
        display: block;
        left: 20px;
        top: 25px;
        width: 50px;
        height: 30px;
        position: relative;
        z-index: 5;
    }
    .navigation__list li {
        padding-left: 50px;
        margin-bottom: 50px;
    }
    .navigation__list li a {
        font-size: 30px;
    }
    .burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: 0.3s;
    }
    .burger:before,
    .burger:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #000;
        transition: 0.3s;
    }
    .burger:before {
        top: 15px;
    }
    .burger:after {
        bottom: 0;
    }
    .container {
        width: 100%;
    }
    .navigation__list {
        width: 100%;
    }
    .navigation {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .header img {
        width: 100%;
    }
    .navigation.active {
        position: absolute;
        top: 0;
        transition: 0.3s;
    }
    .burger.active:before,
    .burger.active:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #000;
    }
    .burger.active:before {
        transform: rotate(45deg);
        top: 10px;
        transition: 0.3s;
    }
    .burger.active:after {
        transform: rotate(-45deg);
        top: 10px;
        transition: 0.3s;
    }
    .burger.active span {
        display: none;
    }
    .header {
        padding-top: 90px;
    }
    /*Main responsive*/
    .main__container {
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .main__about p {
        text-align: center;
        margin-bottom: 60px;
        font-size: 26px;
        font-weight: 600;
    }
    /*skills program responsive*/
    .skills__details {
        flex-direction: column;
        align-items: center;
    }
    .skills__description {
        margin-bottom: 30px;
    }
    .skills-program-name {
        margin-bottom: 10px;
    }
    .skills__rating {
        margin-bottom: 25px;
    }
    .skills__details {
        padding-bottom: 50px;
    }
    /*main portfolio responsive*/
    .portfolio {
        padding: 50px 0;
    }
    .portfolio__head {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .portfolio__item {
        margin-bottom: 40px;
        padding: 0 20px;
        flex: 0 0 100%;
        box-sizing: border-box;
    }
    .portfolio__link {
        font-size: 18px;
    }
    .portfolio__image {
        margin-bottom: 45px;
        width: 100%;
    }
}